.orangeback{
    background-color: orange;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.fuchsiaback{
    background-color: fuchsia;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.merkez{
    text-align: center;
}

.pembe{
    background-color: pink;
}